.yui-button
{
    font-family:Arial;
    background: url('../img/sprite.png') repeat-x 0px 0px;
    color: #0192BF;
    font-weight:bold;
    border: 2px solid #989898;
    cursor:pointer;
    padding:1px;
}