##
## Projects
##
mind3rd/projects/*

##
## PHPDocs
##
docs/PHPDoc/*
docs/PHPDOCS/*

##
## SQLite
##
mind3rd/SQLite/mind

##
## Temporary files
##
mind3rd/API/temp/*
mind3rd/API/logs/*

##
## Development meta files
##
*.*~*
*.*~
.project
.DS_Store
./nbproject
.buildpath
.project
nbproject
nbproject/*
/.settings/
/projects/demo-pt/.mind/