##
## Projects
##
mind3rd/projects/*

##
## PHPDocs
##
docs/PHPDoc/*
docs/PHPDOCS/*

##
## SQLite
##
mind3rd/SQLite/mind

##
## Temporary files
##
mind3rd/API/temp/*

##
## Development meta files
##
*.*~*
.project
.DS_Store
./nbproject
nbproject
nbproject/*
