/*
    Document   : mind-RIDE
    Created on : Jun 10, 2011, 8:18:20 PM
    Author     : felipenmoura
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
    height:100%;
}

body
{
    font-family: tahoma,Arial;
    margin:0px;
    height:100%;
}

#loginPanel form
{
    width: 300px;
}

#loginPanel
{
    border:solid 1px gray;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-150px;
    text-align:center;
}

#menuPanel
{
    border-bottom: solid 1px gray;
    height:32px;
    background-color: #dedede;
}

#toolsPanel
{
    float: left;
    border-right: solid 1px gray;
    background-color: #dedede;
    height: 100%;
    min-heiht: 100%;
    margin:auto;
    width: 200px;
}

#editorPanel #editor
{
    width:100%;
    height:100%;
}

#editorPanel
{
    margin:0px;
    height:100%;
    background-color:#fff;
    overflow:auto;
}

#consolePanel
{
    position:absolute;
}

#menuList{
    position: relative;
}
#menuList ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#menuList>ul>li{
    padding: 4px;
    margin-righ: 1px;
    position: relative;
    float: left;
}
#menuList>ul>li ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
}
#menuList ul li:hover ul{
    display: block;
}
#menuList ul li:focus ul{

}


